@model ProyectoFinalCruds.Models.Countries

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customers</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.COUNTRY_ID)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.COUNTRY_NAME)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.REGION_ID)
        </dt>
       
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.COUNTRY_ID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
